
/* .back {
    background-repeat: no-repeat;
    position: absolute;
    top: 29px;
    left: 184px;
    width: 1552px;
    height: 1022px;
    opacity: .9;
}  */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(2,1fr); */
    /* grid-template-rows: repeat(1,1fr); */
    /* padding-right: 10rem; */
}

.grid-item1 {
    /* background-image: url("../background.svg"); */
    /* height: 100rem; */
    /* width:100%; */
    /* padding: 30px; */
    /* background-size: cover;
    min-height: 100vh;
    min-width: auto; */
    /* background-size: cover; */
    /* grid-column: 2; */
  
    flex: 100%;
    margin-top: 30px;
    margin-bottom: 123px;
    /* margin-left: 184px;
    margin-right: 184px; */
    /* padding: 20px; */
    /* background-position: center; */
}