.flex-container{
    display: flex;
}

.nav-bar{
    color: black;
}




/* body {
    background: #EEEEEE;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
    
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    
}

.cards {
    display: grid;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 23%;
    margin-right: 23%;
    border-radius: 15px;
   
    grid-template-columns: repeat(3, 200px);
    width: 53%;
    background-color: #506F9026;
 
    grid-gap: 3rem;
}



.card {
    box-shadow: 5px 5px 15px #0000001A;
    border-radius: 15px;

    height: 200px;
    width: 200px;
    opacity: 1;
    background-color: #EEEEEE;

}



.cardAlignment>p {
    text-align: center;
    margin: 0px;
    padding:6px ;
}

.cardAlignment>img {
    width: 4vw;
    padding-top: 20%;
    display: block;
    margin: 0 auto;
 
} */