par
{
  color: #506F90;
  font-size: 20px;
  margin: 0px;
  display: block;
  margin-bottom: 10px;
}

#plain-field{
border-radius: 15px;
width: 100%;
}

.top-flex{
display: flex;
color:'#253143';
margin-top:'40px';
justify-content: center;
}
.top_tField{
height: 60px;
padding: 0px;
margin: 0px;
border: 2px solid #6F88A2;
background-color: #EEEEEE;
border-radius: 0%;
padding-top: 2px;
width: 420px;
border-radius: 15px 0px 0px 15px;

/* border-radius: 50px; */


}

.top-btn {
  background-color:#6F88A2;
  height: 66px;
  padding-bottom: 7px;
  border: 4px solid #6F88A2;/*this is to remove the button shadow*/
  width: 60px;
  border-radius: 0px 15px 15px 0px;

  
  /* margin-bottom: 5px; */
}
hr{
margin-left: 40px;
margin-right: 40px;
margin-top: 40px;
margin-bottom: 40px;
height: 1px;
background-color:#6F88A2;
opacity: .2;
}
 

.wrapper {
    margin-left: 165px;/*have to be removed to make the page responsive*/
    margin-right: 165px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* grid-auto-rows: minmax(100px, auto); */
    color:black;
    grid-column-gap: 60px;
    grid-row-gap: 20px;

  }
  .sub {
    /* grid-column: 1 / 1; */
    border: 1px solid;
  }
  .two {
    /* grid-column: 2 / 2; */
    grid-row: 1;
    border: 2px solid;
  }
  .three {
    /* grid-column: 3/3; */
    grid-row: 1;
    border: 2px solid;
  }
  .four {
    /* grid-column: 1 / 1; */
    grid-row: 2;
    border: 2px solid;
  }
  .five {
    /* grid-column: 2 / 2; */
    grid-row: 2;
    border: 2px solid;
  }
  .six {
    /* grid-column: 3/3; */
    grid-row: 2;
    border: 2px solid;
  }
  