* {
  text-transform: none;
}
par
{
  color: #506F90;
  font-size: 20px;
  margin: 0px;
  /* display: block; */
  padding-bottom: 10px;
  font-weight: 500;
  /* border: 2px solid; */
  grid-column: 1/3;

}

body {
  font-family: 'poppins';
}

#plain-field {
  border-radius: 15px;
  width: 100%;
  margin-top: 12px;
  /*had to use it to give it a margin*/
}

#plain-field1 {
  border-radius: 15px;
  width: 100%;
  grid-column: 1/2;
  grid-row: 2;
}

#plain-field3 {
  border-radius: 15px;
  width: 100%;
  grid-column: 1/3;
  grid-row: 2;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#plain-field2 {
  /*this removes corner border too*/
  border-radius: 15px;
  width: 100%;
  grid-column: 1/2;
  grid-row: 2;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.top-flex {
  display: flex;
  color: '#253143';
  margin-top: '40px';
  justify-content: center;
}


.top-btn {
  top: 0px;
  background-color: #6F88A2;
  margin: 0px;
  height: 60px;
  /* padding-bottom: 7px; */
  border: 2px solid #6F88A2;
  /*this is to remove the button shadow*/
  width: 60px;
  border-radius: 0px 15px 15px 0px;
}

.btnUi {
  position: relative;
  right: 0px;
  /* this right works only with relative*/
  top: 0px;
  background-color: #6F88A2;
  margin: 0px;
  height: 60px;
  /* padding-bottom: 7px; */
  border: 2px solid #6F88A2;
  /*this is to remove the button shadow*/
  width: 60px;
  border-radius: 0px 15px 15px 0px;
  grid-row: 2;

}

/* margin-bottom: 5px; */
.top_tField {
  top: 0px;

  height: 56px;
  /* did this to match icon and textF */
  padding: 0px;
  margin: 0px;
  border: 2px solid #6F88A2;
  background-color: #EEEEEE;
  border-radius: 0%;
  width: 420px;
  border-radius: 15px 0px 0px 15px;

  /* border-radius: 50px; */

}

hr {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 1px;
  background-color: #6F88A2;
  opacity: .2;
}


/* WARNING: if copying then dont copy with came class name in other css */
.wrapperrr { 

    margin-left: 165px;/*have to be removed to make the page responsive*/
    margin-right: 165px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: minmax(300px, auto); */
    grid-column-gap: 60px;
    grid-row-gap: 20px;
  }
 
  .flex2{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.sub1 {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  /* border: 1px solid; */
}

.sub3box {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid; */
  justify-content: center;


}

.gridd {
  color: blue;
  /* border: 2px dashed #506F90; */
  grid-row: 2;
  justify-content: 'center';
  align-content: 'center';
  /* grid-column: 1/1; */
}

/* #btns3
{

} */