/* .flex-container
{
    display: flex;
    align-items: center;
    justify-content: center;
} */
body{
    font-family: 'poppins';
}
/* :root{
    --primary:#506F90
    --secondary:#253143

} */
.flex1
{
    display: flex;
    text-align: center;
    justify-content: center;
}
.flex2
{  
    text-align: center;
}

.flex3
{  
    text-align: center;
}

.flex4{
    margin-top: 40px;
    /* border: 2px solid; */
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    flex-direction: row;
}

.wrapper {
    margin-top: 80px;
    margin-left: 90px;/*have to be removed to make the page responsive*/
    margin-right: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    color:black;
    grid-column-gap: 60px;
    grid-row-gap: 60px;

  }
.searchBar{
 
    justify-content: center;
}
par{
}


