/* .flex-container
{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.flex1
{
    display: flex;
    text-align: center;
    justify-content: center;
}
.flex2
{  
    text-align: center;
}

.flex3
{  
    text-align: center;
}

.flex4{
    display: flex;
    margin-left: 90px;
}
.searchBar{
 
    justify-content: center;
}