 #bg {
   height: 1080px;
   width: 1920px;

   background-color: #EEEEEE;
 }
 .back {
   background-image: url("./background.svg");
   background-repeat: no-repeat;
   position: absolute;
   top: 29px;
   left: 184px;
   width: 1552px;
   height: 1022px;
   opacity: .6;


 }

 #head1 {
   color: #253143;
   padding-left: 360px;
   padding-top: 50px;
 }

 .logo {
   /* background-image: url("./logo\ main.png"); */
   /* background-color: black; */
   /* background-repeat: no-repeat; */
   /* background-position: 709px 70px; */
   position: relative;
   /* min-width: 100%;
  min-height: 100%; */
   width: 135px;
   height: 100px;
   /* box-shadow: 3px 3px 6px #00000029; */
   opacity: 1;
   top: 100px;
   left: 893px;
   width: 135px;
   height: 100px;
 }


 input[type=text],
 input[type=password] {
   padding: 15px;
   width: 500px;
   margin: 5px 0 22px 0;
   /* border: 2px solid var(--unnamed-color-253143; */
   border: 2px solid;
   /* border-color: #1c89ff; */
   border-radius: 15px;
   opacity: 0.5;
 }

 input[type=text]:focus,
 input[type=password]:focus {
   background-color: #ddd;
 }

 #warning {
   position: absolute;
   top: 380px;
   left: 705px;
   width: 510px;
   height: 28px;
   font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-poppins);
   letter-spacing: var(--unnamed-character-spacing-0);
   color: var(--unnamed-color-6e293b);
   text-align: left;
   font: normal normal normal 20px/30px Poppins;
   letter-spacing: 0px;
   color: #6E293B;
   /* text-transform: lowercase; */
   opacity: 1;
 }

 input#user {
   background-image: url("./Icon\ awesome-user-alt.svg");
   background-repeat: no-repeat;
   text-indent: 70px;
 }

 input#pass {
   background-image: url("./Icon\ metro-lock.svg");
   background-repeat: no-repeat;
   text-indent: 70px;
 }

 .btn {
   background-color: #253143;
   color: white;
   padding: 16px 20px;
   border: none;
   border-radius: 15px;
   cursor: pointer;
   width: 170px;
   height: 70px;

   opacity: 0.9;
 }

 .btn:hover {
   opacity: 1;
 }

 .box {
   position: absolute;
   background-color: #EEEEEE;
   width: 900px;
   height: 679px;
   left: 510px;
   top: 271px;
   /* padding: 50px; */
   /* text-align: center; */

   /* margin-bottom: ; */
   box-shadow: 10px 10px 20px 0 #00000029;
   border-radius: 15px;
   opacity: 1;
 }

 .nurse {
   /* background-image: url("./Nurse.svg"); */
   position: relative;
   /* background-position: 127px 268.16px; */
   /* min-width: 100%;
  min-height: 100%; */

   top: 297px;
   left: 311px;
   width: 220px;
   height: 618px;

   opacity: 1;
   /* background-color: black; */
 }

 .input1 {
   background-image: url("./Icon\ awesome-user-alt.svg");
   background-size: 25px;
   color: #253143;
   background-position: 10px;
   background-repeat: no-repeat;
   padding: 10px 20px;
   height: 30px;
   text-indent: 25px;
   margin: 8px 0;
   border-radius: 12px;
   width: 300px;
 }

 .input2 {
   background-image: url("./Icon\ metro-lock.svg");
   background-size: 25px;
   padding-left: 10px;
   color: #253143;
   background-repeat: no-repeat;
   background-position: 10px;
   padding: 10px 20px;
   border-radius: 12px;
   height: 30px;
   margin: 8px 0;
   width: 300px;
   text-indent: 25px;

 }

 .log {
   background-color: #253143;
   color: white;
   /* margin: 8px 0;
  width: 150px;
  height: 50px; */
   border-radius: 12px;
   top: 697px;
   left: 875px;
   width: 170px;
   height: 70px;
 }

 #register {
   color: #506F90;
   padding-left: 300px;
 }

 #space {
   margin-left: 180px;
 }

 #logspace {
   margin-left: 365px;
 }

 .link {
   font-family: 'Poppins', sans-serif;
 }