.back{
  background-image: url("./background.svg");
  background-repeat: no-repeat;
  position: absolute;
  min-width: 1551.68px;
  min-height: 1022px;  
}
#head1
{
  color: #253143;
  padding-left: 360px;
  padding-top: 50px;
}
.logo
{
  background-image: url("./logo\ main.png");
  background-repeat: no-repeat;
  background-position: 709px 70px;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 135px;
  box-shadow: 3px 3px 6px #00000029;
  opacity: 1;
  
}
.nurse
{
  background-image: url("./Nurse.svg");
  position: absolute;
  background-position: 127px 268.16px;
  padding-top: 30px;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
}

input[type=text], input[type=password] {
  padding: 15px;
  width: 500px;
  margin: 5px 0 22px 0;
  border: 2px solid var(--unnamed-color-253143);
  border: 2px solid #253143;
  border-radius: 15px;
  opacity: 0.5;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
}

input#user {
  background-image: url("./Icon\ awesome-user-alt.svg");
  background-repeat: no-repeat;
  text-indent: 70px;
}

input#pass {
  background-image: url("./Icon\ metro-lock.svg");
  background-repeat: no-repeat;
  text-indent: 70px;
}

.btn {
  background-color: #253143;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 170px;
  height: 70px;

  opacity: 0.9;
}
.btn:hover {
  opacity: 1;
}
.box {
  background-color: white;
  width: 900px;
  height: 679px;
  /* padding: 50px; */
  /* text-align: center; */
  margin-left: 326px;
  margin-top: 242px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  opacity: 1;
}
.input1
{
  background-image: url("./Icon\ awesome-user-alt.svg");
  background-size: 25px;
  color: #253143;
  background-position: 10px;
  background-repeat: no-repeat;
  padding: 10px 20px;
  height: 30px;
  text-indent: 25px;
  margin: 8px 0;
  border-radius: 12px;
  width: 300px;
}
.input2
{
  background-image: url("./Icon\ metro-lock.svg");
  background-size: 25px;
  padding-left: 10px;
  color: #253143;
  background-repeat: no-repeat;
  background-position: 10px;
  padding: 10px 20px;
  border-radius: 12px;
  height: 30px;
  margin: 8px 0;
  width: 300px;
  text-indent: 25px;
  
}

.log
{
  background-color: #253143;
  color: white;
  /* margin: 8px 0;
  width: 150px;
  height: 50px; */
  border-radius: 12px;
  top: 697px;
  left: 875px;
  width: 170px;
  height: 70px;
}
#register
{
  color:#506F90;
  padding-left: 300px;
}
#space
{
  margin-left: 180px;
}
#logspace
{
  margin-left: 365px;
}