.back{
  background-image: url("./background.svg");
  background-repeat: no-repeat;
  position: absolute;
  min-width: 1551.68px;
  min-height: 1022px;  
}
.head1
{
  color: #253143;
}
.logo
{
  background-image: url("./logo\ main.png");
  background-repeat: no-repeat;
  background-position: 709px 70px;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 135px;
  box-shadow: 3px 3px 6px #00000029;
  opacity: 1;
  
}
.nurse
{
  background-image: url("./Nurse.svg");
  position: absolute;
  background-position: 127px 268.16px;
  padding-top: 30px;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
}
.box
{
  /*background-color:#EEEEEE;*/
  background-color: white;
  width: 800px;
  height: 600px;
  padding: 50px;
  text-align: center;
  margin-left: 326px;
  margin-top: 242px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  opacity: 1;

}

input[type=text], input[type=password] {
  
  padding: 15px;
  width: 500px;
  margin: 5px 0 22px 0;
  border: 2px solid var(--unnamed-color-253143);
border: 2px solid #253143;
border-radius: 15px;
opacity: 0.5;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  
}

/* Set a style for the submit button */
.btn {
  background-color: #253143;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 170px;
  height: 70px;

  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

